<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tpl</title>
</head>
<body>
    <h1>{{n1}}</h1>
    <div>{{n2.0}}</div>
    <div>{{n2.1}}</div>
    <div>{{n2.2}}</div>
    <div>
        {% for item in n2 %}
            <span>{{ item }}</span>
        {% endfor %}
    </div>
    <div>{{n3.name}}</div>
    <div>{{n3.salary}}</div>
    <div>{{n3.role}}</div>
    <div>{{n3.1}}</div>
    <div>
        {% for key,value in n3.items %}
            <p>{{key}} is {{value}}</p>
        {% endfor %}
    </div>
    <hr>
    <div>
        <p>{{n4.0.name}}</p>
        <p>{{n4.1}}</p>
        <p>{{n4.2}}</p>
    </div>
</body>
</html>