{% extends 'layout.html' %}
{% block content %}
    <h1>任务管理</h1>
    <h3>示例1</h3>
    <input type="button" id="btn1" class="btn btn-primary" value="点击">
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn1').click(() => {
                clickMe();
            });
        });

        function clickMe() {
            $.ajax({
                url: '/task/ajax/',
                type: 'post',
                dataType: 'JSON',
                data: {
                    n1: 123,
                    n2: 456
                },
                success: function (res) {
                    console.log(res)
                }
            })
        }
    </script>
{% endblock %}